<div class="chapter-banner-add-content-root">
  <div class="chapter-banner-add-content-buttons">
    <button type="button" data-action="logType">一级标题</button>
    <button type="button" data-action="logType">二级标题</button>
    <button type="button" data-action="logType">图片</button>
    <button type="button" data-action="logType">文字</button>
  </div>
</div>
