.chapter-banner-config-app .chapter-banner-config-empty {
}

.chapter-banner-app .chapter-banner-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chapter-banner-add-content-app .chapter-banner-add-content-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px;
}

.chapter-banner-add-content-app .chapter-banner-add-content-buttons > button {
  flex: 1 1 calc(50% - 8px);
}
